/*floatの回り込みを解除*/
.clearfix::after {
	content: "";
clear: both;
display: block;
}

.wrapper{
width: 400px;
height: 450px;
margin: 0 auto;
}
/*赤色*/
.longred{
height: 100px;
background-color: #ff0000;
}

/*緑色、左側に設定*/
.left{
float: left;
width: 150px;
height: 250px;
background-color: #00ff1a;
}
/*青色、右側に設定*/
.right{
float: right;
width: 250px;
height: 250px;
background-color: #3300ff;
}
/*黄色*/
.footer{
height: 100px;
background-color: #ffe600;
}
    content: "";
	clear: both;
	display: block;
}

.wrapper{
	width: 400px;
	height: 450px;
	margin: 0 auto;
}

.longred{
	height: 100px;
	background-color: #ff0000;
}


.left{
	float: left;
	width: 150px;
	height: 250px;
	background-color: #00ff1a;
}

.right{
	float: right;
	width: 250px;
	height: 250px;
	background-color: #3300ff;
}

.footer{
	height: 100px;
	background-color: #ffe600;
}